h3 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 600;
  font-size: 20pt;
}

h6 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: 15pt;
  margin: 0;
}

@media (max-width: 1000px) {
  .album-def {
    padding: 5% 0;
    text-align: center;
  }

  .album-name {
    padding: 5% 0;
    text-align: center;
  }
}

.album-def {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #FFFFFF;
  padding: 5% 0;
}

.album-name {
  color: #EFE3E3;
  font-size: 30pt;
}

.album-img {
  align-content: center;
}

.footer {
  background-color: #F7E2E2;
  text-align: center;
  padding: 4% 30%;
  margin: 0;
}

.fa-brands {
  color: #F16956;
  transform: scale(1.2);
}

.fa-brands:hover {
  transform: scale(1.1);
}

.fa-solid {
  color: #F27261;
  margin-bottom: 40px;
}

.fa-solid:hover {
  transform: scale(0.96);
  color: #F16956;
}

.hi {
  font-family: 'Hubballi', cursive;
}

.intro {
  background-color: #61A4BC;
  align-content: center;
  padding: 10% 10%;
  color: #FFFFFF;
}

.introname {
  font-size: 80px;
  font-family: "Montserrat Subrayada", sans-serif;
}

.introskills {
  font-size: 25px;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  padding-top: 2%;
}

/* .module-img:hover{
  transform: scale(1.06);
} */
.module-img {
  margin: 30px;
  width: 100px;
  height: 100px;
}

.modules {
  background-color: #FFFFFF;
  padding: 80px 60px;
}

.module-def {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 20px auto;
  align-content: center;
  padding: 0 15%;
  color: grey;
}

.module-name{
  color: #61A4BC;
}

#music {
  background-color: #61A4BC;
  padding: 10% 20%;
}

.navbar {
  background-color: #61A4BC;
}

.navbar-brand {
  margin: 0 auto;
}

.social-link {
  margin: 30px;
}
